
.grid-container {
  display: inline-grid;
  grid-template-columns: auto auto auto;
  background-color: #ffdc72;
  margin-top: 26px;
  margin-left: 26%;
  }
  
  .grid-item {
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
    height: 500px;
    width: 200px;
  }
  

  .nolose{
    height: auto;
    width: auto;
    padding: 2px;
    
    border-color: black;
    margin-top: 27px;
    margin-left: 9px;
    color:black;
    background: rgba(255, 255, 0, 0);
    text-shadow: 0px 0px black;
    font-size: x-large;
    text-anchor: middle;
    border-radius: 8px;
    

  }

  h2{
    margin-top: 180px;
    margin-left: center;
  }
  .grid-text {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
    height: 500px;
    width: 200px;    
  }
